/* Root Variables */

:root {
    --red: #CD3D0F;
    --blu: #2D64E6;
    --lightgray: #F5F5F5;
    --text_gray: #717171;
    --bg_gray: #BEBCBB;
    --bg_blu: #161C3B;
}

/* COMMON */

html {
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2.3rem;
}

p {
    font-size: 1.1rem;
}

.text_blu {
    color: var(--blu);
}

.bg_black {
    background-color: black;
}

.bg_blue {
    background-color: var(--blu);
}

/* Buttons */

.login_btn {
    color: white;
    background-color: black;
    font-size: 1rem;
    padding: 0 1rem;
    border-radius: 1rem;
}

.login_btn:hover {
    opacity: .7;
}

.lens_extend_btn {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid lightgrey;
}

.lens_extend_btn:hover {
    border: 1px solid black;
}

.leb_a:hover{
    color: black !important;
}

.buy_btn {
    box-sizing: content-box;
    display: inline-block;
    background-color: white;
    padding: .7rem 1rem;
    border-radius: 30px;
}

.buy_btn:hover {
    outline: 2px solid white;
    outline-offset: 3px;
}

a>.buy_btn {
    color: black;
}

/* HEADER */

.nav_top {
    padding: .375rem .5rem;
    z-index: 999;
}

.nav_top svg {
    width: 4.7rem;
}

nav {
    font-size: 1rem;
}

.nav_bottom {
    position: sticky;
    top: 0;
}

.drop_left>* {
    margin-right: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--blu);
}

.navbar-light .navbar-nav .nav-link:hover .fa-chevron-down {
    color: var(--blu);
}

.dropdown-toggle::after {
    display: none;
}

nav i {
    font-size: .8rem;
    color: rgb(151, 151, 151);
}

.lens {
    width: 1.5rem;
}

/* MAIN */

/* Jumbotron */

.jumbo {
    background-color: black;
}

.jumbo_container {
    background-color: black;
}

#cerchio {
    text-decoration: none;
}

.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top;
    margin-top: 0px;
    padding-top: 17rem;
}

.jumbotron .row img {
    width: 13rem;
}

/* Jumbotron Games */

.j_container {
    width: 100%;
    position: relative;
}

.jumbo {
    background-color: black;
}

.jumbo_game img {
    opacity: .7;
    width: 100%;
    border-radius: 20px;
}

.jumbo_game img:hover {
    opacity: 1;
    box-shadow: black;
    transform: translateY(-.3rem);
    transition: .2s;
    box-shadow: 0 .6rem .3rem rgba(0,0,0,.2)!important;
}

.jumbo_game .ms_active {
    outline: 3px solid var(--blu);
    outline-offset: 4px;
    opacity: 1;
}

#cerchio {
    animation: jumbo_animation 4s linear infinite;
    display: block;
}

#cerchio a {
    text-decoration: none;
}

@keyframes jumbo_animation {
    0% {
        position: relative;
        right: 0;
    }

    60% {
        position: relative;
        right: 0;
    }

    80% {
        right: 100vw;
        overflow: hidden;
    }

    100% {
        position: relative;
        right: 0;
    }
}

#quadrato {
    position: absolute;
    top: 0;
    left: 0;
}

#quadrato a {
    text-decoration: none;
}

/* PS Presentation */

.ps_presentation p {
    font-size: 1.3rem;
    color: var(--text_gray);
}

.ps_presentation .buy_btn {
    color: white;
    background-color: var(--blu);
    margin: 0;
}

.ps_presentation .buy_btn:hover {
    outline: 2px solid var(--blu);
    outline-offset: 3px;
}

.ps_presentation img {
    width: 100%;
}

.ps_presentation a {
    text-decoration: none;
}

/* PS Presentation Cards */


.ms_card.ms_active {
    border-bottom: 2px solid var(--blu);
    opacity: 1;
}

.ms_card {
    text-align: center;
    border: 2px solid transparent;
    opacity: .5;
}

.ms_card>img {
    width: 50%;
    margin: 0 auto;
}

.ms_card:hover {
    opacity: 1;
    transition: .7s;
}

.ms_card p {
    height: 3.5rem;
    font-size: 1rem;
}

@media all and (min-width: 786px) {
    .col_md_5 {
        flex-basis: calc((100% / 5) * 1);
    }
}

/* It Takes Two */

.itTakesTwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.itTakesTwo .row img {
    width: 13rem;
}

/* New releases */

.new_releases {
    color: white;
}

.new_game .card {
    border: 0;
    margin-bottom: 2.5rem;
}

.new_game a {
    color: white;
    text-decoration: none;
}

.new_game a img {
    object-fit: cover;
    border-radius: 7%;

}

.new_game a img:hover {
    transform: scale(1.03);
    transition: .5s;
}

.new_releases .buy_btn {
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.new_releases a {
    font-size: 1.5rem;
    text-decoration: none;
}

/* PS4 */

.ps4 .card {
    text-align: start;
    border: 0;
}

.ps4 a .buy_btn {
    color: white;
    background-color: var(--blu);
}

.ps4 a .buy_btn:hover {
    outline: 2px solid var(--blu);
    outline-offset: 3px;
}

.ps4 p {
    font-size: 1.3rem;
    color: var(--text_gray);

}

/* PS4 Cards */

.ps4 .card-body {
    height: 100%;
    position: relative;
    margin-bottom: 2rem;
}

.ps4 .card-body a {
    position: absolute;
    left: 1rem;
    bottom: 0;
}

/* PlayStation Plus */

.ps_plus {
    background-color: var(--bg_gray);
}

.ps_plus_logo {
    width: 19rem;
}

.ps_plus a .buy_btn {
    color: var(--blu);
    background-color: rgb(223, 223, 223);
}

.ps_plus a .buy_btn:hover {
    outline: 2px solid rgb(223, 223, 223);
    outline-offset: 3px;}

@media all and (min-width: 786px) {
    .ps_plus>.container {
        background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }
}

/* PlayStation Now */

.ps_now {
    background-color: var(--bg_blu);
    color: white;
}

.ps_now_logo {
    width: 19rem;
}

.ps_now a .buy_btn {
    color: black;
    background-color: rgb(223, 223, 223);
}

.ps_now a .buy_btn:hover {
    outline: 2px solid rgb(223, 223, 223);
    outline-offset: 3px;}

@media all and (min-width: 786px) {
    .ps_now>.container {
        background-image: url(../img/ps-now-april-featured-image-block.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }
}