/* Root Variables */

/* COMMON */

html {
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2.7rem;
}

p {
    font-size: 1.1rem;
}

.btn {
    font-size: 1.1rem;
    padding: .4rem 1rem;
}

/* HEADER */

.nav_top>svg {
    height: 1rem;
}

.nav_bottom {
    position: sticky;
    top: 0;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown svg {
    width: .6rem;
}

/* MAIN */

/* Jumbotron */

.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top;
    margin-top: 0px;
    padding-top: 17rem;
}

.jumbotron .row img {
    width: 13rem;
}

.jumbotron .btn {
    border: 2px solid red;
}

/* It Takes Two */

.itTakesTwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.itTakesTwo .row img {
    width: 13rem;
}

.itTakesTwo .btn {
    border: 2px solid red;
}