/* Root Variables */

/* COMMON */

html {
    font-size: 125%;
}

.flex {
    display: flex;
    justify-content: end;
}

.bg_dark {
    background-color: black;
}

.bg_red {
    background-color: rgb(210, 84, 30);
}

.text_white {
    color: white;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

/* UTILITY */

.my_btn {
    text-decoration: none;
    padding: .55rem .7rem;
    border-radius: 30px;
    margin-right: 1rem;
    color: white;
}

/* NAV */

.sony_bar {
    width: 100%;
    height: 36px;
    background-color: black;
    line-height: 36px;
}

.sony_bar img {
    width: auto;
    height: 15px;
    padding-right: .7rem;
}

.nav_container {
    font-size: .8rem;

}

nav {
    height: 64px;
}

.nav_bar {
    width: 100%;
}

nav ul>li {
    margin-right: .5rem;
}

nav button>i {
    font-size: 1.3rem;
}

nav a {
        color: rgb(110, 110, 110);
}

.my_drop a {
    color: rgb(110, 110, 110);
}

/* Jumbotron */

.jumbotron {
    height: 100vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.jumbo_container {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.game_logo>img {
    width: 16rem;
}

@media all and (min-width: 900px) {
    .jumbo_container {
        width: 96%;
        margin: 0 auto;
    }
}

/* IT TAKES TWO */

.it_takes_two {
    height: 100vh;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.it_takes_two_container {
    height: 100%;
}

.game_logo>img {
    width: 10rem;
}

@media all and (min-width: 900px) {
    .it_takes_two_container {
        width: 96%;
        margin: 0 auto;
    }
}